<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nju.edu.erp.dao.CollectionSheetDao">
    <select id="getLatest" resultMap="CollectionSheetPOMap">
        select * from collection_sheet order by id desc limit 0,1 ;
    </select>

    <insert id="save" parameterType="CollectionSheetPO">
        insert into collection_sheet (id, customer, operator, remark, total_amount, state, create_time)
        values (#{id},#{customer},#{operator},#{remark},#{totalAmount},#{state}, #{createTime})
    </insert>

    <insert id="saveBatch" useGeneratedKeys="true" keyProperty="id">
        insert into collection_sheet_content (collection_sheet_id, bankNo, amount, remark) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.collectionSheetId},#{item.bankNo},#{item.amount},#{item.remark})
        </foreach>
    </insert>
    <resultMap id="CollectionSheetPOMap" type="com.nju.edu.erp.model.po.CollectionSheetPO">
        <id column="id" property="id"></id>
        <result column="customer" property="customer"></result>
        <result column="operator" property="operator"></result>
        <result column="remark" property="remark"></result>
        <result column="total_amount" property="totalAmount"></result>
        <result column="state" property="state"></result>
        <result column="create_time" property="createTime"></result>
    </resultMap>


</mapper>
